<section class="container mx-auto my-9">
    <div class="bg-slate-900 p-6">

        <div class="relative">
            <video
                #videoPlayer
                crossorigin="anonymous"
                controls
                class="video-js"
            ></video>
        </div>

        <h2 class="text-2xl font-bold mt-5">{{ clip()?.title }}</h2>
        <div class="flex justify-between items-center mt-8">
            <div class="owner flex items-center gap-4">
                <div>
                    <a href="#" class="inline-block w-12 h-12 rounded-full overflow-hidden border border-white">
                        <img src="{{ clip()?.user?.profilePicture }}" alt="{{ clip()?.user?.firstName }}" class="w-full h-full object-cover">
                    </a>
                </div>
                <div>
                    <a href="#" class="name">{{ clip()?.user?.firstName }}</a>
                </div>
            </div>

            <div class="flex items-center gap-5">
                <button class="like flex items-center gap-3 cursor-pointer"
                (click)="like()">
                    <i class="fa-regular fa-thumbs-up" [ngClass]="{'text-fuchsia-600': likeStatus() === LikeType.LIKE}"></i> 
                    <span>{{ likesCount() }}</span>
                </button>
                <button class="dislike flex items-center gap-3 cursor-pointer"
                (click)="dislike()">
                    <i class="fa-regular fa-thumbs-down" [ngClass]="{'text-fuchsia-600': likeStatus() === LikeType.DISLIKE}"></i> 
                    <span>{{ dislikesCount() }}</span>
                </button>
            </div>
        </div>

        <div class="my-12">
            <p class="mt-2 mb-7 opacity-60">{{ clip()?.views }} views <span class="opacity-60 ml-5">{{ clip()?.createdDate }}</span></p>
        </div>

        <div class="comments">
            <p class="text-2xl">{{ comments().length }} Comments</p>

            <div class="user mt-7 flex items-center gap-5">
                <div class="w-12 h-12 rounded-full overflow-hidden border">
                    <img src="{{clip()?.user?.profilePicture}}" alt="profile image" class="w-full h-full object-cover">
                </div>
                <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)" class="w-full">
                    <input placeholder="Add a comment..." name="comment" #comment ngModel
                    class="w-full p-2 resize-none bg-slate-800 border-b border-b-slate-500">
                </form>
            </div>

            <div class="mt-7 flex flex-col gap-7">
                @for (comment of comments(); track comment.id) {
                    <div class="comment flex items-start gap-5">
                        <div>
                            <a href="#" class="inline-block w-12 h-12 rounded-full overflow-hidden border">
                                <img src="{{comment.user.profilePicture}}" alt="profile image" class="w-full h-full object-cover">
                            </a>
                        </div>
                        <div class="w-full">
                            <div class="flex items-end gap-4">
                                <a href="#" class="name font-bold">{{ comment.user.firstName }}</a>
                                <small class="opacity-80">{{ comment.createdDate }}</small>
                            </div>
                            <p class="bg-slate-950 p-1 w-full text-sm">{{ comment.comment }}</p>

                            @if (userComments().length > 0 && isUserComment(comment.id)) {
                                <small>
                                    <a href="#" class="underline opacity-50" (click)="deleteComment($event, comment.id)">Delete comment</a>
                                </small>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>