<section class="flex flex-col justify-center lg:flex-row">
    <section class="container mx-auto my-9">
        <div class="bg-slate-900 p-6">

            <video id="my-video"
                class="video-js vjs-matrix" >
                <source src="/Video/hero.webm" type="video/webm">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>

            <h2 class="text-2xl font-bold mt-5">Video Title</h2>
            <div class="flex justify-between items-center mt-8">
                <div class="owner flex gap-7">
                    <div>
                        <a href="#" class="inline-block w-12 h-12 rounded-full overflow-hidden">
                            <img src="/Images/1.jpg" alt="profile image" class="w-full h-full object-cover">
                        </a>
                    </div>
                    <div class="flex flex-col gap-2">
                        <a href="#" class="name">Filahi</a>
                        <small>1.2M followers</small>
                    </div>
                </div>

                <button class="bg-fuchsia-500 px-5 py-2 rounded-md tracking-wider cursor-pointer">Follow</button>

                <div class="flex items-center gap-5">
                    <button class="like flex items-center gap-3 cursor-pointer">
                        <i class="fa-regular fa-thumbs-up"></i> 
                        <span>20k</span>
                    </button>
                    <button class="dislike flex items-center gap-3 cursor-pointer">
                        <i class="fa-regular fa-thumbs-down"></i> 
                        <span>3k</span>
                    </button>
                </div>
            </div>

            <div class="my-12">
                <p class="mt-2 mb-7 opacity-60">120,539 views March 25, 2024</p>
            </div>

            <div class="comments">
                <p class="text-2xl">200 Comments</p>

                <div class="user mt-7 flex items-center gap-5">
                    <div class="w-12 h-12 rounded-full overflow-hidden">
                        <img src="/Images/1.jpg" alt="profile image" class="w-full h-full object-cover">
                    </div>
                    <textarea placeholder="Add a comment..." 
                        class="w-full p-2 resize-none bg-slate-800 border-b border-b-slate-500"></textarea>
                </div>

                <div class="mt-7 flex flex-col gap-7">
                    <div class="comment flex items-center gap-5">
                        <div>
                            <a href="#" class="inline-block w-12 h-12 rounded-full overflow-hidden">
                                <img src="/Images/1.jpg" alt="profile image" class="w-full h-full object-cover">
                            </a>
                        </div>
                        <div>
                            <div class="flex items-center gap-4">
                                <p class="name font-bold">adam-k</p>
                                <small>1 day ago</small>
                            </div>
                            <p>Nice video!</p>
                        </div>
                    </div>

                    <div class="comment flex items-center gap-5">
                        <div>
                            <a href="#" class="inline-block w-12 h-12 rounded-full overflow-hidden">
                                <img src="/Images/1.jpg" alt="profile image" class="w-full h-full object-cover">
                            </a>
                        </div>
                        <div>
                            <div class="flex items-center gap-4">
                                <p class="name font-bold">adam-k</p>
                                <small>1 day ago</small>
                            </div>
                            <p>Nice video!</p>
                        </div>
                    </div>

                    <div class="comment flex items-center gap-5">
                        <div>
                            <a href="#" class="inline-block w-12 h-12 rounded-full overflow-hidden">
                                <img src="/Images/1.jpg" alt="profile image" class="w-full h-full object-cover">
                            </a>
                        </div>
                        <div>
                            <div class="flex items-center gap-4">
                                <p class="name font-bold">adam-k</p>
                                <small>1 day ago</small>
                            </div>
                            <p>Nice video!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-9 px-5 lg:w-md">
        <div class="">
            <a href="#" class="inline-block rounded-lg bg-slate-900 overflow-hidden hover:-translate-y-2 hover:bg-fuchsia-900 hover:shadow-2xl transition duration-300">
                <img src="/Images/1.jpg" alt="Thumbnail">

                <div class="p-4">
                    <h2 class="text-xl mb-1">Game Highlighting Clip</h2>
                    <div class="flex flex-col gap-1">
                        <p>Filahi</p>
                        <p class="flex items-center gap-2">
                            <span>100,200 views</span> &#183;
                            <span class="text-gray-400">March 31, 2024</span>
                        </p>
                    </div>
                </div>
            </a>

            <a href="#" class="inline-block rounded-lg bg-slate-900 overflow-hidden hover:-translate-y-2 hover:bg-fuchsia-900 hover:shadow-2xl transition duration-300">
                <img src="/Images/1.jpg" alt="Thumbnail">
                <div class="p-4">
                    <h2 class="text-xl mb-1">Game Highlighting Clip</h2>
                    <div class="flex flex-col gap-1">
                        <p>Filahi</p>
                        <p class="flex items-center gap-2">
                            <span>100,200 views</span> &#183;
                            <span class="text-gray-400">March 31, 2024</span>
                        </p>
                    </div>
                </div>
            </a>

            <a href="#" class="inline-block rounded-lg bg-slate-900 overflow-hidden hover:-translate-y-2 hover:bg-fuchsia-900 hover:shadow-2xl transition duration-300">
                <img src="/Images/1.jpg" alt="Thumbnail">
                <div class="p-4">
                    <h2 class="text-xl mb-1">Game Highlighting Clip</h2>
                    <div class="flex flex-col gap-1">
                        <p>Filahi</p>
                        <p class="flex items-center gap-2">
                            <span>100,200 views</span> &#183;
                            <span class="text-gray-400">March 31, 2024</span>
                        </p>
                    </div>
                </div>
            </a>

            <a href="#" class="inline-block rounded-lg bg-slate-900 overflow-hidden hover:-translate-y-2 hover:bg-fuchsia-900 hover:shadow-2xl transition duration-300">
                <img src="/Images/1.jpg" alt="Thumbnail">
                <div class="p-4">
                    <h2 class="text-xl mb-1">Game Highlighting Clip</h2>
                    <div class="flex flex-col gap-1">
                        <p>Filahi</p>
                        <p class="flex items-center gap-2">
                            <span>100,200 views</span> &#183;
                            <span class="text-gray-400">March 31, 2024</span>
                        </p>
                    </div>
                </div>
            </a>

            <a href="#" class="inline-block rounded-lg bg-slate-900 overflow-hidden hover:-translate-y-2 hover:bg-fuchsia-900 hover:shadow-2xl transition duration-300">
                <img src="/Images/1.jpg" alt="Thumbnail">
                <div class="p-4">
                    <h2 class="text-xl mb-1">Game Highlighting Clip</h2>
                    <div class="flex flex-col gap-1">
                        <p>Filahi</p>
                        <p class="flex items-center gap-2">
                            <span>100,200 views</span> &#183;
                            <span class="text-gray-400">March 31, 2024</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</section>