*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: rgb(31 41 55);
}

.bg-color{
    background-color: var(--dark-blue);
}

.bg-gradient{
    background: linear-gradient(rgb(130, 0, 150), rgb(147, 32, 255));
}

.btn-border::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 70%;
    background-color: var(--dark-blue);
}

.dropbox-border{
    border: 1px dashed;
}


.vjs-playback-rate .vjs-menu{
    width: 6rem;
    background-color: #212529;  
}

.vjs-playback-rate .vjs-menu .vjs-menu-item{
    padding: 8px 16px; 
}

.vjs-playback-rate .vjs-menu .vjs-menu-item:hover{
    background-color: #000000; 
}

.vjs-playback-rate .vjs-menu .vjs-menu-item.vjs-selected{
    background-color: #495057; 
    color: #f8f9fa; 
    font-weight: bold; 
}






  