<header id="header" class="bg-slate-900">
    <nav class="container flex flex-col items-center py-8 px-4 mx-auto">
        <a routerLink="/" id="logo" class="text-fuchsia-400 font-bold text-2xl uppercase tracking-wider">
            Clip<span class="text-purple-500">Quest</span>
        </a>

        <ul class="flex mt-1 gap-4">
            @if (!authService.isLoggedIn()) {
                <li><a href="#" class="underline" (click)="openModal($event)">Login / Register</a></li>
            }
            @else {
                <li><a routerLink="/manage" class="underline hover:text-fuchsia-400" routerLinkActive="text-fuchsia-400" [routerLinkActiveOptions]="{ exact: true }">Manage</a></li>
                <li><a routerLink="/upload" class="underline hover:text-fuchsia-400" routerLinkActive="text-fuchsia-400" [routerLinkActiveOptions]="{ exact: true }">Upload</a></li>            
                <li><a href="#" class="underline hover:text-fuchsia-400" (click)="logout($event)">Logout</a></li>
            }
        </ul>
    </nav>
</header>