<app-modal modalID="editClip">
  <p class="text-2xl font-bold mb-2" heading>Edit Video</p>

  @if (showAlert) {
    <app-alert [color]="alertColor">
      <div class="flex items-center justify-center gap-6">
        <p>{{ alertMsg }}</p>
        @if(alertColor === 'blue'){
          <img src="/spinner.gif" alt="" class="w-[2em]">
        }
      </div>
    </app-alert>
  }

  <form [formGroup]="editForm" (ngSubmit)="submit(editForm)">
    <div class="mt-7 flex flex-col gap-3">
      <div>
        <label class="block text-sm mb-2">Title</label>
        <app-input-component [control]="editForm.controls.title" placeholder="Enter Title"/>
      </div>
      <div>
        <label class="block text-sm mb-2">Description</label>
        <app-input-component [control]="editForm.controls.description" placeholder="Enter Description"/>
      </div>
    </div>

    <div class="mt-4 text-right">
      <app-submit-button [form]="editForm" [text]="'Update'" /> 
    </div>
  </form>
</app-modal>