<section class="container mx-auto my-8 p-9 bg-slate-900 rounded-sm">
    @if (!nextStep) {
        @if (showAlert) {
            <app-alert [color]="alertColor">
                <div class="flex items-center justify-center gap-6">
                    <p>{{ alertMsg }}</p>

                    @if(alertColor === 'blue'){
                        <img src="/spinner.gif" alt="" class="w-[2em]">
                    }
                </div>
            </app-alert>
        }
        <div>
            <h3 class="font-bold">Upload Video</h3>
            <button (click)="input.click();"
            class="dropbox-border text-xl text-center w-full my-4 py-44 rounded-sm hover:bg-purple-500 hover:border-transparent transition duration-500"
                    appEventBlocker
                    (dragend)="isDragOver = false"
                    (dragover)="isDragOver = true"
                    (dragenter)="isDragOver = true"
                    (dragleave)="isDragOver = false"
                    (mouseleave)="isDragOver = false"
                    (drop)="storeFile($event)"
                    [ngClass]="{
                        'bg-purple-500 border-transparent': isDragOver
                    }">
                Drop your file here (mp4 only!)
            </button>
        </div>

        <input #input type="file" (change)="storeFile($event)" class="cursor-pointer w-full">
    }

    @else {
        @if (showAlert) {
            <app-alert [color]="alertColor">
                <div class="flex items-center justify-center gap-6">
                    <p>{{ alertMsg }}</p>

                    @if(alertColor === 'blue'){
                        <img src="/spinner.gif" alt="" class="w-[2em]">
                    }
                </div>
            </app-alert>
        }

        <form [formGroup]="uploadForm" (ngSubmit)="uploadFile(uploadForm)" class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
                <label>Title</label>
                <app-input-component [control]="uploadForm.controls.title" placeholder="Enter Title" />
            </div>
            <div class="flex flex-col gap-2">
                <label>Description</label>
                <app-input-component [control]="uploadForm.controls.description" placeholder="Enter Description" />
            </div>

            <app-submit-button [form]="uploadForm" [text]="'Publish'" class="self-end"/> 
        </form>
    }
</section>