@if (showAlert) {
    <app-alert [color]="alertColor">
        <div class="flex items-center justify-center gap-6">
            <p>{{ alertMsg }}</p>

            @if(alertColor === 'blue'){
                <img src="/spinner.gif" alt="" class="w-[2em]">
            }
        </div>
    </app-alert>
}

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input type="email" placeholder="Enter Email" id="email" name="email" [(ngModel)]="credentials.email" #email="ngModel"
                required 
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                class="bg-transparent border border-gray-400 rounded-md p-2 w-full outline-none focus:border-fuchsia-400
                placeholder:opacity-30">

            @if (email.touched && email.dirty && email.errors) {
                <p class="text-red-400">
                    Email is invalid.
                </p>
            }
        </div>
        <div class="flex flex-col gap-2">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" #password="ngModel"
                required
                class="bg-transparent border border-gray-400 rounded-md p-2 w-full outline-none focus:border-fuchsia-400
                placeholder:opacity-30">

            @if(password.touched && password.dirty && password.errors){
                <p class="text-red-400">
                    Password is invalid.
                </p>
            }
        </div>

        <app-submit-button [form]="loginForm" [text]="'Submit'" [width]="'full'" [isDisabled]="isDisabled" />
    </div>
</form>
