@if (showAlert) {
    <app-alert [color]="alertColor">
        <div class="flex items-center justify-center gap-6">
            <p>{{ alertMsg }}</p>

            @if(alertColor === 'blue'){
                <img src="/spinner.gif" alt="" class="w-[2em]">
            }
        </div>
    </app-alert>
}

<form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
            <label>Name</label>
            <app-input-component [control]="registerForm.controls.name" placeholder="Enter Name"/>
        </div>

        <div class="flex flex-col gap-2">
            <label>Email</label>
            <app-input-component [control]="registerForm.controls.email" type="email" placeholder="Enter Email" />
        </div>

        <div class="flex flex-col gap-2">
            <label>Age</label>
            <app-input-component [control]="registerForm.controls.age" type="number" placeholder="Enter Age" />
        </div>

        <div class="flex flex-col gap-2">
            <label>Password</label>
            <app-input-component [control]="registerForm.controls.password" type="password" placeholder="Enter Password" />
        </div>

        <div class="flex flex-col gap-2">
            <label>Confirm Password</label>
            <app-input-component [control]="registerForm.controls.confirmPassword" type="password" placeholder="Confirm Password" />
        </div>

        <div class="flex flex-col gap-2">
            <label>Phone Number</label>
            <app-input-component [control]="registerForm.controls.phoneNumber" placeholder="Enter Phone Number" format="000-000-0000" />
        </div>

        <app-submit-button [form]="registerForm" [text]="'Submit'" [width]="'full'" />
    </div>
</form>